body{
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.conatinerInput{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}


.btnPay{
  width: 90%;
  padding: 15px;
  margin-top: 20px;
  margin-left: 18px;
  border-radius: 6px;
    color: #fff!important;

    border: 1px solid #50b232;
    background: #7cd063;

}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
  margin: 5px;
  font-weight: bold;
  color: #50b232;
}


.imagens{
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 18px;
}
